@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

#nombre {
    width: 100%;
}

@media (min-width: 600px) {
    #nombre {
      width: 300px;
    }
}

.opcion {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
  
.opcion input[type="radio"] {
    display: none;
}
  
.opcion img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    transition: all 0.3s;
}
  
.opcion input[type="radio"]:checked + img {
    opacity: 1;
    transform: scale(1.3);
}

.opcion-elegida {
    cursor: initial;
}

.opcion-elegida img {
    opacity: 1;


  
main{
  display: flex;
  justify-content: center;
}

.css-button-sliding-to-left--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 0px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #d90429;
  color: #d90429;
}
.css-button-sliding-to-left--red:hover {
  color: #fff;
}
.css-button-sliding-to-left--red:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #d90429;
}


.card {
  display: flex;
  flex-direction: column;          
  border: none;
  font-family: 'Play', sans-serif;
  height: 100%;
}


.card img{
  height: 40vh;    
  object-fit: cover;
  object-position: bottom;
}

.card-title{
  font-weight: 700;
  font-family: 'Play', sans-serif;
}

aside{
  width: fit-content;
}


#contenedor-cards{

  width: 80%;
}

@media screen and (max-width: 767px) {
  .card {
      width: 70vw;
  }

}