
  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

  .css-button-sliding-to-left--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 0px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #d90429;
    color: #d90429;
  }
  .css-button-sliding-to-left--red:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--red:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--red:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #d90429;
  }


  main{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .card {
    width: 30vw;
    border: none;
    font-family: 'Play', sans-serif;
  }

  .card img{
    height: 30vh;
    object-fit: cover;
  }

  .card-title{
    font-weight: 700;
    font-family: 'Play', sans-serif;
  }

