@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex-grow: 1;
}
.css-button-sliding-to-left--red{
  min-width: 130px;
  height: 40px;
  color: #f3efef;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 0px;
  z-index: 0;
  background: #f3f3f3;
  overflow: hidden;
  border: 2px solid #d90429;
  color: #d90429;
}



.css-button-sliding-to-left--red:hover {
  color: #fff;
}
.css-button-sliding-to-left--red:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #d90429;
}


.card {
  display: flex;
  flex-direction: column;          
  border: none;
  font-family: 'Play', sans-serif;
  height: 100%;
  
}


.card img{
  height: 45vh;    
  object-fit: cover;
  object-position: bottom;
}

.card-title{
  font-weight: 700;
  font-family: 'Play', sans-serif;
}

aside{
  width: fit-content;
  box-sizing: border-box;
}


@media screen and (max-width: 767px) {
  .card {
      width: 80vw;      
  }

}
.color-agua {
  background-color: #30A7D7;
}

.btn-color-agua {
  background-color: #30A7D7;
}
.btn-color-agua:hover {
  background-color: #278bb3;
}

.btn-color-planta {
  background-color: #9BCC50;
}
.btn-color-planta:hover {
  background-color: #80aa41;
}

.btn-color-electrico {
  background-color: #EED535;
}
.btn-color-electrico:hover {
  background-color: #c2ae2c;
}

.btn-color-veneno {
  background-color: #8c00ff;
}
.btn-color-veneno:hover {
  background-color: #6c00ff;
}
